* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.background {
  background-color: rgb(224, 202, 202);
  height: 100vh;
  padding-top: 1px;
}

.title {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 10%;
}

.display {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.hide {
  display: none;
}

.container {
  text-align: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 300px;
}


.tile {
  border: 1px solid white ;
  width: auto;
  min-height: 100px;
  display: flex;
  align-items: center;
  font-size: 50px;
  justify-content: center;
  cursor: pointer;
}


.playerX {
  color: aqua;
}

.playerO {
  color: red;
}


.controls {
  text-align: center;
}

#reset {
  background-color: rgb(224, 202, 202);
  color: white;
  padding: 5px 40px;
  margin-top: 10px;
  border: none;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 2px outset;
  cursor: pointer;

}

#reset:active {
  border-style: inset;
}